#main-footer {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.15);
  padding: 40px 0;
  text-align: center;
}

.social { 
  margin-bottom: 40px; 

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      background-color: $color-primary;
      border-radius: 50%;
      display: block;
      height: 34px;
      width: 34px;

      @media (hover: hover) {
        &:hover { background-color: lighten($color-primary, 10%) }
      }

      i {
        color: #fff;
        line-height: 34px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  #main-footer { padding: 20px 0 }
  .social { margin-bottom: 20px }
}
