#calendar {
  @include clearfix;
  background: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 20px 20px rgba(0,0,0,0.13);
  margin: -150px auto 80px;
  padding: 60px 100px;
  max-width: 838px;

  .item { 
    margin-bottom: 40px }

    .title {
      color: #555;
      font-size: 22px;
      letter-spacing: 2.5px;
      line-height: 32px;
      display: block;
      text-transform: uppercase;
    }

    .date {
      color: #b5b5b5;
      font-size: 20px;
      letter-spacing: 1.4px;
      line-height: 30px;
      display: block;
    }

  .description { float: left }

  .calendar {
    float: right;
    width: 310px;
    height: 350px;
    color: #fff;
  }
}

#calendar-picker-container {
  .date-picker, .date-picker-wrapper { 
    font-family: 'Heebo', Arial, sans-serif; 
    font-size: 16px;
    color: #555;
    font-weight: normal;
  }

  .drp_top-bar { display: none }

  .date-picker-wrapper {
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;

    .month-wrapper { 
      border: none; 

      table {
        td { padding-bottom: 10px }
        .caption { height: 60px }
      }
    }
  }

  .month1 {
    width: 100%;
    border-top: 1px solid #e3e3e3;
  }

  .week-name th { 
    padding-bottom: 20px; 
    color: #b5b5b5;
    border-bottom: 1px solid #e3e3e3;
  }

  .month-element {
    font-weight: normal;
    text-transform: capitalize;

    &:last-child {
      &:before {
        content: '/';
        display: inline-block;
        margin-right: 5px;
        margin-left: 3px;
      }
    }
  }

  .day {
    font-size: 15px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    padding: 0;
    margin: 0;

    &.real-today { background: none }
    &.first-date-selected { border-radius: 50% 0 0 50% }

    &.first-date-selected,
    &.checked,
    &.hovering { 
      background-color: $color-secondary !important; 
      color: #fff;
    }

    &.last-date-selected { border-radius: 0 50% 50% 0 }
  }
}


@media (max-width: 480px) { 
  #calendar {
    padding: 20px 20px 35px;
    margin-left: 10px;
    margin-right: 10px;

    .description { display: none }
  }
}
