#calendar {
  @include clearfix;
  background: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 20px 20px rgba(0,0,0,0.13);
  margin: -150px auto 80px;
  padding: 60px 100px;
  max-width: 838px;

  .item { 
    margin-bottom: 40px }

    .title {
      color: #555;
      font-size: 22px;
      letter-spacing: 2.5px;
      line-height: 32px;
      display: block;
      text-transform: uppercase;
    }

    .date {
      color: #b5b5b5;
      font-size: 20px;
      letter-spacing: 1.4px;
      line-height: 30px;
      display: block;
    }

  .description { float: left }

  .calendar {
    float: right;
    width: 310px;
    height: 350px;
    color: #fff;
  }
}

.DayPicker {
  color: #555;
  font-family: 'Heebo', Arial, sans-serif; 
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;

  .DayPicker-NavButton {
    top: -3px;
    right: 0;

    &.DayPicker-NavButton--prev {
      left: 0;
      margin: 0
    }
  }

  .DayPicker-Caption {
    letter-spacing: 1.8px;
    text-align: center;
  }

  .DayPicker-Month {
    border-collapse: separate !important;
    border-spacing: 0 8px !important;
    margin: 0;
    width: 100%;
  }

  .DayPicker-Weekday {
    padding-bottom: 10px; 
    color: #b5b5b5;
    border-bottom: 1px solid #e3e3e3;
    font-weight: bold;
  }

  .DayPicker-Day {
    border-radius: 0;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    margin: 0 0 10px;
    padding: 0;
    width: 45px;

    @media (hover: hover) {
      &:not(.DayPicker-Day--disabled):hover {
        background-color: lighten($color-secondary, 25%) !important; 
        border-radius: 50%;
        color: #fff !important;
      }
    }

    &.DayPicker-Day--today { color: #555 }

    &.DayPicker-Day--selected {
      background-color: $color-secondary !important;
      border-radius: 0 !important;
      color: #fff !important;
    }

    &.DayPicker-Day--start { border-radius: 50% 0 0 50% !important }
    &.DayPicker-Day--end { border-radius: 0 50% 50% 0 !important }
  }
}

@media (max-width: 480px) { 
  #calendar {
    padding: 20px 20px 35px;
    margin-left: 10px;
    margin-right: 10px;

    .description {
      float: none;
      padding-top: 20px;
      text-align: center;
      clear: both;

      > div { display: none }
    }
  }
}
