#hotel-list article {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.13);
  display: flex;
  margin-bottom: 50px;
  margin-left: 60px;
  padding: 40px;
  
  .thumbnail {
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);
    margin-left: -100px;
    margin-right: 40px;
  }

  .rating {
    color: $color-stars;
    font-size: 14px;
    margin-bottom: 10px;
  }
    
  .information {
    border-left: 1px solid #d9d9d9;
    height: 100%;
    margin-left: 30px;
    padding: 60px 0 60px 30px;
    text-align: right;
    white-space: nowrap;
    
    .item:not(:last-child) { margin-bottom: 20px }
    
    span {
      font-size: 16px;
      font-weight: 300;
      color: #b2b0c0;
      letter-spacing: 1.8px;
      line-height: 24px;
      display: block;
    
      strong { font-weight: bold }

      &.price {
        color: $color-secondary;
        font-weight: bold;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 30px;
        letter-spacing: 3.4px;
        line-height: 37px;
      }
    }

    .price-night {
      span {
        font-size: 14px;
        letter-spacing: 1.6px; 
      }

      .price {
        font-size: 20px;
        letter-spacing: 2.3px;
        line-height: 24px;
        color: $color-primary;
      }
    }
  }
}

@media (max-width: 480px) {
  #hotel-list article {
    display: block;
    margin: 0 0 20px;
    padding: 20px;

    .thumbnail {
      width: 100px;
      float: left;
      margin: 0 20px 0 0;
    }

    .actions .button {
      margin-right: 10px;
      &:last-child { margin: 0 }
    }

    .information {
      @include clearfix;
      border: none;
      border-top: 1px solid #d9d9d9;
      padding: 10px 0 0;
      margin: 10px 0 0;

      .item { margin: 0 !important }

      .price-total { 
        float: left; 
        text-align: left;
      }

      .price-night { float: right }
    }
  }
}
