// Colors
$color-primary: #f98100;
$color-secondary: #79bd1a;
$color-stars: #FFBA23;

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

* { outline: none }

body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #B5B5B5;
  font-family: 'Heebo', Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 { margin: 0; } 
a { text-decoration: none }


// Titles
.header-1 {
  color: #000;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2.5px;
  line-height: 26px;
  margin-bottom: 60px;
  text-align: center;
}

.header-2 {
  color: $color-primary;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.8px;
  line-height: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header-3 {
  display: block;
  font-size: 13px;
}

// Other default elements
p {
  color: #b5b5b5;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
}

.button {
  background: $color-primary;
  border-radius: 100px;
  border: 2px solid $color-primary;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  padding: 15px 45px;

  &:disabled {
    background: #fff;
    color: $color-primary;
    cursor: default;
  }

  &.button-smaller {
    border-width: 1px;
    font-size: 13px;
    padding: 6px 25px;
  }

  &.button-secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}

.value {
  color: $color-primary;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2.5px;
  line-height: 32px;
}

@media (max-width: 480px) {
  .header-1 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .header-2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.fa-spinner {
  display: block;
  margin: 0 auto;
}
